{% extends 'dogs/base.html' %}

{% block content %}
  <form class="form dog--form" method="post" enctype="multipart/form-data">
    <div class="form__title dog--form__title">
      {% if dog %}
        Редактирование собаки: {{ dog.name }}
      {% else %}
        Добавление новой собаки
      {% endif %}
    </div>
    {% csrf_token %}
    <div class="form__form-group dog--form__form-group">
      {% for field in form %}

        <div class="form__form-group-field dog--form__form-group-field">
          {% if field.name == "photo" %}
            <label class="form__form-group-label dog-form__form-group-label" for="{{ field.id_for_label }}">
              {{ field.label }}
            </label>
            <small class="dog--form__custom-file-label"> <br>* размер фото не более: 5MB, разрешённые форматы: .jpg, .jpeg, .png.</small>
          {% else %}
            <label for="{{ field.id_for_label }}" class="form__form-group-label dog-form__form-group-label">
              {{ field.label }}
            </label>
          {% endif %}
          <div class="form__from-group-field dog--form__from-group-field">
              {{ field }}
          </div>
          {% if field.errors %}
            <div class="form__form-group-error dog--form__form-group-error">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="btn form__btn dog--form__btn" type="submit">
        {% if dog %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}
      </button>
    </div>
  </form>
{% endblock %}
