{% extends 'dogs/base.html' %}

{% block content %}
  <form class="dog--form" method="post" enctype="multipart/form-data">
    <div class="dog--form__title">
      {% if dog %}
        Редактирование собаки: {{ dog.name }}
      {% else %}
        Добавление новой собаки
      {% endif %}
    </div>
    {% csrf_token %}
    <div class="dog--form__form-group">
      {% for field in form %}
        <div class="dog--form__form-group-field">
          <label for="{{ field.id_for_label }}" class="dog-form__form-group-label">
            {{ field.label }}
          </label>
          <div class="dog--form__from-group-field">
             {% if field.name == "photo" %}
              <label for="{{ field.id_for_label }}" class="custom-file-label">
                Выберите файл, если нужно заменить фото!
              </label>
              <input type="file" name="{{ field.name }}" id="{{ form.file }}" class="custom-file-input">
            {% else %}
              {{ field }}
            {% endif %}
          </div>
          {% if field.errors %}
            <div class="dog--form__form-group-error">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="btn dog--form__btn" type="submit">
        {% if dog %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}
      </button>
    </div>
  </form>
{% endblock %}
