*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
    border-color: #353535;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

nav, footer, header, aside {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

footer, header {
    margin: 0;
    padding: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    cursor: pointer;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

:focus, :active {
    outline: none;
}

/*===== custom style =================================================================================================*/

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

/*===== header =======================================================================================================*/

.header {
    background-color: #151515;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 40px 0 45px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.header__menu-list--text {
    display: flex;
    gap: 35px;
    align-items: flex-end;
}

.header__menu-item {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.header__menu-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.header__menu-link::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #165cc6;
    bottom: -3px;
    left: 50%;
    width: 0;
    transition: all 0.3s;
}

.header__menu-link:hover::after {
    width: 100%;
    left: 0;
}

.header__menu-link--active {
    color: #165cc6;
}

.header__menu-link--active::after {
    transition: none;
}

.header__menu-list--icon {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.header__user-info--auth {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}

.header__icon--user-profile {
    color: #fff;
    text-transform: lowercase ;
}

.header__icon-image:hover {
    transform: translate(-8%, -8%);
}

.header__icon-image:active {
    transform: translate(0%, 0%);
}


/*===== footer =======================================================================================================*/

.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 250px;
}

.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}

/*.footer__menu-link {*/
/*    color: #b6b6b6;*/
/*}*/

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.footer__copy {
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/*===== menu =========================================================================================================*/

.main {
    font-family: "Segoe UI", system-ui, sans-serif, sans-serif;
    flex-grow: 1;
}

.title--top {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #494949;
    padding: 30px 0 30px 0;
}

/*===== btn ==========================================================================================================*/

.btn {
    background-color: #165cc6;
    color: white;
    border: none;
    font-size: 0.875rem;
    padding: 3px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #165cc6;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    transform: translateY(-1px);
}

.btn:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #165cc6;
    transform: translateY(1px);
}

/*===== dog form =====================================================================================================*/

.form {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #EFF2F6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form__title {
    text-align: center;
}

.form__form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.form__from-group-field input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form__form-group-label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__btn {
    background-color: #165cc6;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 auto;
    font-size: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    transition: background-color 0.3s;
}

.form__form-group-error {
    color: red;
}

/* dog */
.dog--form__custom-file-label {
    color: #165cc6;
}

/*===== breed list ===================================================================================================*/

.breeds--list {
    background-color: #EFF2F6;
}

.breeds--list__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: left;
    padding: 35px 0 50px 0;
}

.breeds--list__item {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 5px;
    background-color: #fff;
}

.breeds--list__item-img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

.breed--list__description {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}

.breeds--list__item-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 950px) {
    .breeds--list__item-group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.breeds--list__item-text {
    font-family: "Segoe UI", system-ui, sans-serif, sans-serif;
    margin: 10px 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
}


/*===== dog list =====================================================================================================*/

.dog--list {
    background-color: #EFF2F6;
}

.dog--list__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: left;
    padding: 35px 0 50px 0;
}


.dog--list__item {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 5px;
    background-color: #fff;
}

.dog--list__item-img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

.dog--list__item-text {
    font-family: "Segoe UI", system-ui, sans-serif, sans-serif;
    margin: 10px 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

/*===== dog detail =====================================================================================================*/

.dog--detail {
    background-color: #EFF2F6;
    padding: 30px;
}

.dog--detail__wrapper {
    display: flex;
    justify-content: center;
}

.dog--detail__item {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 10px;
    margin: 0 10px;
    background-color: #fff;
}

.dog--detail__item-img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

.dog--detail__group-info {
    margin-left: 5px;
    width: 100%;
}

.dog--detail__item-text {
    margin-bottom: 5px;
    letter-spacing: 0.8px;
    font-weight: 600;
}

.dog--detail__item-birth_date {
    font-style: italic;
}

.dog--detail__group-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dog--detail__item-btn {
    margin-top: 10px;
}


