<div id="dog-buttons-abort" class="dog--detail__group-btn">
  <a class="btn dog--detail__item-btn dog--detail__item-btn--abort"
     hx-post="{% url 'dogs:dog_delete' dog.pk %}"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >
    Да
  </a>
  <span style="color: red;">Уверены?</span>
  <a class="btn dog--detail__item-btn dog--detail__item-btn--abort"
     hx-get="{% url 'dogs:dog_delete_abort' dog.pk %}"
     hx-target="#dog-buttons-abort"
     hx-swap="outerHTML"
  >
    Нет
  </a>
</div>
