{% load static %}
<footer class="footer">
  <div class="container">
{#    <nav class="footer__menu">#}
{#      <ul class="footer__menu-list">#}
{#        <li class="footer__menu-item">#}
{#          <p href="#" class="footer__menu-title">Пример 1</p>#}
{#        </li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 1</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 2</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 3</a></li>#}
{#      </ul>#}
{#      <ul class="footer__menu-list">#}
{#        <li class="footer__menu-item">#}
{#          <p href="#" class="footer__menu-title">Пример 2</p>#}
{#        </li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 1</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 2</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 3</a></li>#}
{#      </ul>#}
{#      <ul class="footer__menu-list">#}
{#        <li class="footer__menu-item">#}
{#          <p href="#" class="footer__menu-title">Пример 3</p>#}
{#        </li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 1</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 2</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 3</a></li>#}
{#      </ul>#}
{#      <ul class="footer__menu-list">#}
{#        <li class="footer__menu-item">#}
{#          <p href="#" class="footer__menu-title">Пример 4</p>#}
{#        </li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 1</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 2</a></li>#}
{#        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Ссылка 3</a></li>#}
{#      </ul>#}
{#    </nav>#}
    <ul class="app">
      <li class="app__item">
        <a href="https://github.com/COD-e-x/django-academy-website" class="app__item-link">
          <img class="app__item-img" src="{% static 'images/icons/appstore.svg' %}" alt=""/>
        </a>
      </li>
      <li class="app__item">
        <a href="https://github.com/COD-e-x/django-academy-website" class="app__item-link" target="_blank">
          <img class="app__item-img" src="{% static 'images/icons/github.svg' %}" alt=""/>
        </a>
      </li>
      <li class="app__item">
        <a href="https://github.com/COD-e-x/django-academy-website" class="app__item-link">
          <img class="app__item-img" src="{% static 'images/icons/googleplay.svg' %}" alt=""/>
        </a>
      </li>
    </ul>
    <div class="footer__copy">
      <p class="footer__copy-text">
        Если у вас есть вопросы о наших услугах или услугах питомника, пожалуйста, позвоните по телефону:
        <br>8-999-888-7777. Все партнеры питомника обязаны соблюдать высокие стандарты ухода за животными и пройти программу
        сертификации.
      </p>
    </div>
    <nav class="copy__nav">
      <ul class="copy__nav-list">
        <li>
          <copy__nav-item><a href="#" class="copy__nav-link">Terms of Service</a></copy__nav-item>
        </li>
        <li>
          <copy__nav-item><a href="#" class="copy__nav-link">Privacy Policy</a></copy__nav-item>
        </li>
        <li>
          <copy__nav-item
          ><a href="#" class="copy__nav-link">Do Not Sell My Personal Information</a></copy__nav-item
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
