{% load static %}
<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="{% url 'dogs:index' %}" class="header__logo">
        <img class="header__logo-image" src="{% static 'images/logo.svg' %}" alt="logo">
      </a>
      <nav class="header__nav">
        <ul class="header__menu-list header__menu-list--text">
          <li class="header__menu-item">
            <a class="header__menu-link {% if request.path == '/' %}header__menu-link--active{% endif %}"
               href="{% url 'dogs:index' %}">Главная</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link {% if request.path == '/breeds/' %}header__menu-link--active{% endif %}"
               href="{% url 'dogs:breeds' %}">Породы</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link {% if request.path == '/dogs/' %}header__menu-link--active{% endif %}"
               href="{% url 'dogs:dogs_list' %}">Собаки</a>
          </li>
        </ul>
        <div class="header__user-info">
          <div class="header__user-info--auth">
            <a href="{% url 'users:profile' %}" class="header__menu-link header__icon--user-profile"><small class="header__icon-image">{{ user.email }}</small></a>
          </div>
          <ul class="header__menu-list header__menu-list--icon">
            {% if user.is_authenticated %}
              {#            Профиль#}
              {#            Выход#}
            {% else %}
              {#            Вход#}
              {#            Регистрация#}
            {% endif %}
            <li class="header__menu-item">
              <a href="{% url 'users:register' %}" class="header__icon header__icon--user-add">
                <img class="header__icon-image" src="{% static 'images/icons/user-add.svg' %}" alt="user add">
              </a>
            </li>
            <li class="header__menu-item">
              <a href="{% url 'dogs:dog_create' %}" class="header__icon header__icon--dog-add">
                <img class="header__icon-image" src="{% static 'images/icons/dog-add.svg' %}" alt="dog add">
              </a>
            </li>
            <li class="header__menu-item">
              <a href="{% url 'users:login' %}" class="header__icon header__icon--auth">
                <img class="header__icon-image" src="{% static 'images/icons/auth.svg' %}" alt="auth">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
